<a href="https://colab.research.google.com/github/Cuixiya/Cuixiya/blob/main/Python_function_20211020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 7 to 14 is", sum(7, 15)) 
    print("Sum from 25 to 50 is", sum(25, 51))
    print("Sum from 30 to 49 is", sum(30, 50))

main() # Call the main function

Sum from 7 to 14 is 84
Sum from 25 to 50 is 975
Sum from 30 to 49 is 790

In [ ]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2, i3):
        result += i
    return result

def main():
    print("Sum1", sum(1, 11, 1)) 
    print("Sum2", sum(20, 38, 20))
    print("Sum3", sum(35, 50, 35))

main() # Call the main function

Sum1 55
Sum2 20
Sum3 35

In [ ]:
def swap(t,b):
  t,b = b,t
  return (t,b)

if __name__ == '__main__':
    x = 25
    y = 50
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 25,y = 50
x = 50,y = 25

In [ ]:
def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(85, 95)

print("num1 is", num2)
print("num2 is", num1)

num1 is 95
num2 is 85

In [ ]:
def sort(number1, number2, number3):
    if (number1 < number3) and (number1 < number2):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(22,13,26)

print("num1 is", num2)
print("num2 is", num3)
print("num3 is", num1)

num1 is 22
num2 is 26
num3 is 13

In [ ]:
def printArea(width = 30, height = 31):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

Use Default argument

In [ ]:
printArea()

width: 30 	height: 31 	area: 930

Use Keyword argument

In [ ]:
printArea(width = 30, height = 31)

width: 30 	height: 31 	area: 930

In [ ]:
printArea(height = 31, width = 30)

width: 30 	height: 31 	area: 930

Use Positional argument

In [ ]:
printArea(30,31)

width: 30 	height: 31 	area: 930

In [ ]:
printArea(31,30)

width: 31 	height: 30 	area: 930

Lambda Function

In [ ]:
f1 = lambda l, m, n: l+4*m+6*n
print(f1(2,3,1))

20

In [ ]:
def myfunc(m):
    return m*m

my_list = [25, 7, 13, 22, 26]

## 使用python的map()

print(list(map(lambda x:myfunc(x), my_list)))

[625, 49, 169, 484, 676]